:root {
  --color-one: #001413;
  --color-two: #eff1f3;
  --grey: #333;
  /* font-family: "Alfa Slab One", cursive; */
  /* font-family: 'Poppins', sans-serif; */
}
* {
  /* border: 1px red solid; */
  font-family: "Poppins", sans-serif;
  background-color: var(--color-one);
  color: var(--color-two);
}

.logo {
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.pcenter {
  width: 80vw;
  margin: 0 auto;
}

/* Navigation Bar */
.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  border: 1px solid;
}

.topnav a {
  font-family: "Black Ops One", cursive;
  float: left;
  display: block;
  color: var(--color-two);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  flex-grow: 1;
  border: 2px solid;
  text-transform: uppercase;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Page 1 */

h1 {
  font-family: "Black Ops One", cursive;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

h3 {
  font-family: "Black Ops One", cursive;
  display: flex;
  justify-content: center;
}

.main-sting {
  display: block;
  margin: 0 auto;
  width: 80vw;
  max-width: 1200px;
  border: var(--grey) solid 1px;
}

blockquote {
  border: #333 double 5px;
  padding: 5px;
  font-size: 15px;
  margin: 0 auto;
  margin-bottom: 0%;
  text-align: center;
  font-style: italic;
  max-width: 1100px;
  justify-content: center;
}

.quote-source {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
}

h2 {
  font-family: "Black Ops One", cursive;
  display: flex;
  justify-content: center;
}

.bold {
  font-weight: bold;
}

button {
  margin-top: 10px;
  color: #ffffff;
  background-color: #2d63c8;
  font-size: 19px;
  border: 1px solid #2d63c8;
  padding: 10px 15px;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
}
button:hover {
  color: #2d63c8;
  background-color: #ffffff;
}
/* Page 2 Evolution */

/* .parent {
    display: table;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    }

table, th, td {
    border: 2px solid var(--color-two);
} */

.parent img {
  /* display: block; */
  /* max-width: 600px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* align-items: center; */
  /* height: auto; */
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  border: 2px solid var(--color-two);
  text-align: center;
}

figcaption {
  font-size: 1rem !important;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.parent > div {
  display: flex;
  border: 2px double var(--color-two);
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 2 / 1 / 3 / 2;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
}
.div5 {
  grid-area: 3 / 1 / 4 / 2;
}
.div6 {
  grid-area: 3 / 2 / 4 / 3;
}

/* Page 3 */

.best-matches {
  list-style: none;
}
.best-matches li {
  text-align: center;
}

/* Form */

fieldset {
  text-align: center;
  width: 80vw;
  margin: 0 auto;
  max-width: 700px;
}

legend {
  text-align: left;
}
.fav-sting-and-move {
  display: flex;
}

.fav-sting-radio {
  flex-grow: 1;
  border-right: 1px solid;
}

.fav-sting-moves {
  flex-grow: 1;
}

footer {
  margin-top: 15px;
}

hr {
  width: 90vw;
  color: var(--color-two);
}
