.main-sting {
    width: 80%;
}

.bold {
    font-weight: bold;
}

button {
    color: #ffffff;
    background-color: #2d63c8;
    font-size: 19px;
    border: 1px solid #2d63c8;
    padding: 15px;
    cursor: pointer;
}
button:hover {
    color: #2d63c8;
    background-color: #ffffff;
}
